<a href="https://colab.research.google.com/github/tahahamdii/salary-predicition/blob/main/salaryprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, r2_score
import joblib


# Step 2: Data Exploration and Cleaning
# Display the first few rows of the dataset

In [2]:
data = pd.read_csv('/content/data.csv')

print(data.head())

                            ID_Employee          NAME_EMP GENDER  \
0  002dc89c-4da0-47dd-99c5-0d46d7018ba6  Ricardo Thompson      F
1  007d5408-fdc5-45d2-9e86-b9dffa069ae0     Chad Martinez      M
2  00aab275-6c85-4095-90ce-2f9157fe648d       Robert Ross      M
3  00b85c59-d569-447c-9a0f-734e46c93b79        Lisa Baker      M
4  00ca3496-ed2e-44a1-860b-d417f2f0b232    Jennifer Jones      F

                                             ADDRESS  MARITAL_STATUS  \
0          49958 Tyler Trail\nNorth Carlos, GA 14076             1.0
1      884 Charlotte Stravenue\nPort Diana, NM 15125             0.0
2         38607 Alvin Haven\nPort Brittany, MD 83087             0.0
3        44888 Cooper Summit\nPort Kristin, WV 26390             1.0
4  40612 Tucker Creek Suite 608\nNew Justinport, ...             0.0

  TYPE_DIPLOMA  EXP_YEARS                         EMAIL  \
0      Licence       20.0  ricardo_thompson@example.com
1      Licence        3.0     chad_martinez@example.com
2     Engineer        3.0       robert_ross@example.com
3      Licence        8.0        lisa_baker@example.com
4       Master        0.0    jennifer_jones@example.com

                           LANGUAGE          Grade  ... STARTING_DATE  \
0  Arabe, Anglais, Others, Francais  Communication  ...    2020-08-24
1  Arabe, Anglais, Others, Francais       Director  ...    2018-02-18
2           Arabe, Others, Francais       Director  ...    2012-12-10
3          Arabe, Francais, Anglais       Director  ...    2010-04-07
4                  Others, Francais      Financier  ...    2015-06-10

                    REGISTRATION_NUMBER TYPE_CONTRACT       DEP_ID  \
0  e870265f-8a33-4e4c-90ab-6c5c3d38bfc9          CIVP  DEP_ADMIN00
1  d2f47d26-7b38-4e19-9fd6-6f1f800c6d8f           CDI  DEP_ADMIN00
2  69a14282-9f0f-4ee9-b505-152efe29710b          CIVP  DEP_ADMIN00
3  d55be9f6-933b-4917-afeb-91f853899837           CDI  DEP_ADMIN00
4  5f5759ad-21ff-4438-8191-466c54ab8160          CIVP  DEP_ADMIN00

  LEAVE_CONSUMED LEAVE_BALANCE  CONTRACT_START  CONTRACT_END TENURE  \
0             22            30      2020-08-24    2023-12-31    0.0
1              9             5      2018-02-18    2023-12-31    1.0
2             22             1      2012-12-10    2023-12-31    0.0
3             13             5      2010-04-07    2024-06-05    1.0
4             26            10      2015-06-10    2023-12-31    0.0

  SOURCE_of_employment
0  Recruitment Session
1     Free Application
2  Recruitment Session
3     Free Application
4       Recommendation

[5 rows x 22 columns]

In [4]:

data['STARTING_DATE'] = pd.to_datetime(data['STARTING_DATE'])

# Step 3: Descriptive Analytics - Clustering
# Encode categorical variables for clustering

In [5]:

encoder = LabelEncoder()
data['GENDER'] = encoder.fit_transform(data['GENDER'])
data['MARITAL_STATUS'] = encoder.fit_transform(data['MARITAL_STATUS'])
data['TYPE_DIPLOMA'] = encoder.fit_transform(data['TYPE_DIPLOMA'])
data['POSITION'] = encoder.fit_transform(data['POSITION'])
data['LANGUAGE'] = encoder.fit_transform(data['LANGUAGE'])

In [6]:
features = data[['GENDER', 'MARITAL_STATUS', 'TYPE_DIPLOMA', 'EXP_YEARS', 'SALARY']]

Standardizing the features

In [7]:
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)